<div class="row">
  <form [formGroup]="searchForm" class="form-inline" style="padding-left:1300px;padding-top:20px;">
    <input style="width:130px;" class="form-control " type="search" placeholder="Search" aria-label="Search" formControlName="searchValue">
    <button class="btn btn-primary my-2 my-sm-0" type="submit" (click)="fill()"><i class="fa fa-search clasa"></i></button>
  </form>
</div>
<h2 style="padding-left:25px;">Manage news</h2>
<div class="m-3">
          <a class="btn btn-primary" data-toggle="modal"  data-target="#addNewsModal">Add news</a>
          <a class="btn btn-primary" data-toggle="modal"  data-target="#addExternalNewsModal">Add external news</a>
        </div>
<div class="row" style="padding-top:0px;">
  <article class="card" *ngFor="let news of bigNews;">
      <div class="card__wrapper">

        <figure class="card__feature" routerLink="/news/details/{{news.id}}">
          <img [src]="'http://localhost:5030/Images/'+news.thumbnailUrl" class="card__img" alt="waves" width="275" height="240">
        </figure>

        <div class="card__box">

          <header class="card__item card__header">
            <div *ngFor="let category of categories;">
              <h6 class="card__item card__item--small card__label" *ngIf="category.id==news.categoryId">{{category.title}}</h6>
            </div>
            <h2 class="card__item card__item--small card__title">{{news.title}}</h2>
          </header>

          <hr class="card__item card__divider">

          <section class="card__item card__body">
            <p>{{news.headline}}</p>
          </section>

        </div>
        <div class="m-3">
          <a class="btn btn-secondary" data-toggle="modal" (click)="prepareEdit(news)" data-target="#editNewsModal">Edit</a>
          <a class="btn btn-primary" data-toggle="modal" (click)="prepareDelete(news)" data-target="#deleteNewsModal">Delete</a>
        </div>
      </div>
  </article>
</div>

<div class="modal" id="editNewsModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Edit news</h2>
      </div>
      <div class="modal-body">
        <form [formGroup]="editNewsForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" formControlName="title" />
          </div>
          <div class="form-group">
            <label for="headline">Headline</label>
            <input type="text" id="headline" class="form-control" formControlName="headline" />
          </div>
          <div class="form-group">
            <label for="status">Content</label>
            <textarea id="content" class="form-control" formControlName="content"></textarea>
          </div>
          <div class="form-group">
            <label for="description">Category</label>
            <select class="form-control" formControlName="category">

              <option *ngFor="let category of categories;" value={{category.id}}>{{category.title}}</option>

            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-6">
          <button type="button" class="btn btn-default btn-sm float-left btn-width-140" data-dismiss="modal">
            <span>Cancel</span>
          </button>
        </div>
        <div class="col-6">
          <button type="submit"
                  class="btn btn-primary btn-sm float-right btn-width-140"
                  data-dismiss="modal" (click)="editNews()">
            <span>Save</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="deleteNewsModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Are you sure you want to delete this news?</h2>
      </div>
      <div class="modal-footer">
        <div class="col-6">
          <button type="button" class="btn btn-default btn-sm float-left btn-width-140" data-dismiss="modal">
            <span>Cancel</span>
          </button>
        </div>
        <div class="col-6">
          <button type="submit"
                  class="btn btn-primary btn-sm float-right btn-width-140"
                  data-dismiss="modal" (click)="deleteNews()">
            <span>Yes</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="addNewsModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Add news</h2>
      </div>
      <div class="modal-body">
        <form [formGroup]="addNewsForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" formControlName="title" />
          </div>
          <div class="form-group">
            <label for="headline">Headline</label>
            <input type="text" id="headline" class="form-control" formControlName="headline" />
          </div>
          <div class="form-group">
            <label for="status">Content</label>
            <textarea id="content" class="form-control" formControlName="content"></textarea>
          </div>
          <div class="form-group">
            <label for="description">Category</label>
            <select class="form-control" formControlName="category">

              <option *ngFor="let category of categories;" value={{category.id}}>{{category.title}}</option>

            </select>
          </div>
        </form>
        <br />
        <input style="display: none"
               type="file" (change)="onFileChanged($event)"
               #fileInput>
        <button (click)="fileInput.click()">Select Thumbnail</button>
        <br />
        <br />

        <div>
          <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="180">
        </div>
        <input type="file" multiple (change)="detectFiles($event)">
      </div>
      <div class="modal-footer">
        <div class="col-6">
          <button type="button" class="btn btn-default btn-sm float-left btn-width-140" data-dismiss="modal">
            <span>Cancel</span>
          </button>
        </div>
        <div class="col-6">
          <button type="submit"
                  class="btn btn-primary btn-sm float-right btn-width-140"
                  data-dismiss="modal" (click)="addNews()">
            <span>Save</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="addExternalNewsModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Add external news</h2>
      </div>
      <div class="modal-body">
        <form [formGroup]="addExternalNewsForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" formControlName="title" />
          </div>
          <div class="form-group">
            <label for="headline">Headline</label>
            <input type="text" id="headline" class="form-control" formControlName="headline" />
          </div>
          <div class="form-group">
            <label for="externalUrl">External Url</label>
            <input type="text" id="content" class="form-control" formControlName="externalUrl" />
          </div>
          <div class="form-group">
            <label for="description">Category</label>
            <select class="form-control" formControlName="category">

              <option *ngFor="let category of categories;" value={{category.id}}>{{category.title}}</option>

            </select>
          </div>

        </form>
        <input style="display: none"
               type="file" (change)="onFileChanged($event)"
               #fileInput>
        <button (click)="fileInput.click()">Select File</button>
      </div>
      <div class="modal-footer">
        <div class="col-6">
          <button type="button" class="btn btn-default btn-sm float-left btn-width-140" data-dismiss="modal">
            <span>Cancel</span>
          </button>
        </div>
        <div class="col-6">
          <button type="submit"
                  class="btn btn-primary btn-sm float-right btn-width-140"
                  data-dismiss="modal"
                  (click)="addExternalNews()">
            <span>Save</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



