<div class="alert alert-success alert-dismissible" role="alert" *ngIf="succesnr">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  News request successfully added!!
</div>
<nav class="navbar navbar-dark bg-primary" *ngIf="userService.visible">
  <a class="navbar-brand font-weight-bold" href="#">NewsIO</a>
  <a class="navbar-brand" *ngIf="show3" routerLink="/users">Manage users</a>
  <a class="navbar-brand" *ngIf="show3" routerLink="/categories">Manage categories</a>
  <a class="navbar-brand" *ngIf="show3" routerLink="/newsRequests">Manage news requests</a>
  <a class="navbar-brand" *ngIf="show4" routerLink="/newsRequests">Manage news requests</a>

  <div class="" id="navbarSupportedContent">

    <div class="nav">
      <form class="form-inline ">
        <input style="width:130px;" class="form-control " type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search clasa"></i></button>
      </form>
      <div class="dropdown ">
        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user clasa"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <div *ngIf="show1">
            <a class="dropdown-item text-primary" routerLink="/login">Log in</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-primary" routerLink="/signup">Sign up</a>
          </div>
          <div *ngIf="show2">
            <a class="dropdown-item text-primary"> Hello, user!</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-primary" (click)="logout()">Log out</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-primary" data-toggle="modal" data-target="#addNewsRequestModal">News request</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="modal" id="addNewsRequestModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2>New news request</h2>
      </div>
      <div class="modal-body">
        <form [formGroup]="addNewsRequestForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" formControlName="title" />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" class="form-control" formControlName="description" />
          </div>
          <div class="form-group">
            <label for="description">Category</label>
            <select class="form-control" formControlName="category">
              <option *ngFor="let category of categories;" value={{category.id}}>{{category.title}}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-6">
          <button type="button" class="btn btn-default btn-sm float-left btn-width-140" data-dismiss="modal">
            <span>Cancel</span>
          </button>
        </div>
        <div class="col-6">
          <button type="submit"
                  class="btn btn-primary btn-sm float-right btn-width-140"
                  data-dismiss="modal" (click)="addNewsRequest()">
            <span>Save</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

