<div class="alert alert-success alert-dismissible" role="alert" *ngIf="successo">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  News request successfully opened!!
</div>
<div class="alert alert-success alert-dismissible" role="alert" *ngIf="successc">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  News request successfully closed!!
</div>
<h2 style="padding:25px;">News requets</h2>

<div class="p-3" *ngFor="let news of newsReq;">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">{{news.title}}</h1>
      <p class="card-text">
        Description:
        {{news.description}}
      </p>
      <p class="card-text">
        Created by:
        {{news.requestedById}}
      </p>
    </div>
    <div class="card-footer text-muted">
      <p>
        Created at:
        {{news.requestDate}}
      </p>
    </div>
  </div>
  <div class="m-2">
    <a class="btn btn-secondary" (click)="closeNR(news.id)">Close</a>
    <a class="btn btn-primary" (click)="openNR(news.id)">Open</a>
 </div>
</div>
