<div class="alert alert-success alert-dismissible" role="alert" *ngIf="successo">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  News request successfully opened!!
</div>
<div class="alert alert-success alert-dismissible" role="alert" *ngIf="successc">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  News request successfully closed!!
</div>
<h2 style="padding:25px;">News requets</h2>

<div class="p-3" *ngFor="let news of newsReq;">
  <div class="card">
    <div style="padding-left:1440px;">
    <i class="fas fa-pencil-alt" (click)="prepNREdit(news)" data-toggle="modal" data-target="#editNRModal"></i>
    <i class="fas fa-trash-alt" (click)="prepNRDelete(news)" data-toggle="modal" data-target="#deleteNRModal" ></i>
     </div>
    <div class="card-body">
      <h1 class="card-title">{{news.title}}</h1>
      <p class="card-text">
        Description:
        {{news.description}}
      </p>
      <p class="card-text">
        Created by:
        {{news.requestedBy}}
      </p>
    </div>
    <div class="card-footer text-muted">
      <div *ngFor="let category of categories;">
      <p *ngIf="category.id==news.categoryId">
        Category:
        {{category.title}}
      </p>
      </div>
      <p>
        Created at:
        {{news.requestDate | date : 'longDate'}}
      </p>
    </div>
  </div>
  <div class="m-2">
    <a class="btn btn-secondary" (click)="closeNR(news.id)">Close</a>
    <a class="btn btn-primary" (click)="openNR(news.id)">Open</a>
 </div>
</div>


<div class="modal" id="editNRModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Edit category</h2>
      </div>
      <div class="modal-body">
        <form [formGroup]="editNRForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" formControlName="title" />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" class="form-control" formControlName="description" />
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <input type="text" id="status" class="form-control" formControlName="status" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-6">
          <button type="button" class="btn btn-default btn-sm float-left btn-width-140" data-dismiss="modal">
            <span>Cancel</span>
          </button>
        </div>
        <div class="col-6">
          <button type="submit"
                  class="btn btn-primary btn-sm float-right btn-width-140"
                  data-dismiss="modal" (click)="editNR()">
            <span>Save</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="deleteNRModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Are you sure you want to delete this category?</h2>
      </div>
      <div class="modal-footer">
        <div class="col-6">
          <button type="button" class="btn btn-default btn-sm float-left btn-width-140" data-dismiss="modal">
            <span>Cancel</span>
          </button>
        </div>
        <div class="col-6">
          <button type="submit"
                  class="btn btn-primary btn-sm float-right btn-width-140"
                  data-dismiss="modal" (click)="deleteNR()">
            <span>Yes</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
