<div class="container" style="padding-left:10px;margin-left:0px;">
  <div class="dropdown row text-left" style="padding-top:20px;padding-left:0px;margin-left:0px;">
    <a class="dropdown-toggle btn btn-primary btn-lg float-left" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Categories    <i class="far fa-newspaper"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <div *ngFor="let category of categories;">
        <div>
          <a class="dropdown-item text-primary" routerLink="">{{category.title}}</a>
          <div class="dropdown-divider"></div>
        </div>
      </div>
    </div>
    </div>
  </div>

