<div class="container">
  <div class="title">
    <div class="subtitle">
      <h2>Log in</h2>
      <span style="color:#1d5cf9;" class=" brand glyphicon glyphicon-globe" aria-hidden="true"></span>
      </div>
  </div>
  <form>
    <div class="row">
      <div class="input-group" id="username">
        <label>
        <span  style="color:#1d5cf9;" class="glyphicon glyphicon-user" aria-hidden="true"></span></label>
        <input type="text" placeholder="Username">
      </div>
    </div>
    <div class="row">
      <div class="input-group">
        <label><span style="color:#1d5cf9;" class="glyphicon glyphicon-lock" aria-hidden="true"></span></label>
        <input type="password" placeholder="Password">
      </div>
    </div>
    <div class="row">
      <div class="forgotpassword">
        <a href="#">I forgot password?</a>
      </div>
    </div>
    <div class="row">
      <button>LOGIN </button>
    </div>
  </form>
  <div class="row">
    <div class="singup">
      Don't have an account? <a target="_blank" href="/signup">Sign up</a>
    </div>
  </div>
</div>
