<div class="container">
  <div class="title">
    <div class="brand">
      <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
    </div>
    <div class="subtitle">
      Log in
    </div>
  </div>
  <form>
    <div class="row">
      <div class="input-group" id="username">
        <i data-feather="user"></i>
        <input type="text" placeholder="Username">
      </div>
    </div>
    <div class="row">
      <div class="input-group">
        <i data-feather="lock"></i>
        <input type="password" placeholder="Password">
      </div>
    </div>
    <div class="row">
      <div class="forgotpassword">
        <a href="#">I forgot password?</a>
      </div>
    </div>
    <div class="row">
      <button>LOGIN <i data-feather="chevron-right"></i></button>
    </div>
  </form>
  <div class="row">
    <div class="singup">
      Don't have an account? <a target="_blank" href="/signup">Signup</a>
    </div>
  </div>
</div>
